html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arvo", serif;
    background-repeat: no-repeat;
    background-position-x: center;
}

html {
    font-size: 10px;
}

hr {
    width: 10%;
    border: 1px solid yellow;
    background-color: yellow;
}

nav {
    height: 50px;
    background-color: #13185a;
    display: flex;
    justify-content: center;
    opacity: 0.9;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
}

.c1 {
    flex: 3;
}

.c2 {
    flex: 2;
}

.c3 {
    flex: 2;
}

.c4 {
    display: flex;
    flex: 2;
    padding-top: 7px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    margin-top: 5px;
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}

main>div{
    margin-bottom: 100px;
}

.input-icono {
    display: flex;
    align-items: center;
    width: 300px;
    height: 25px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
    background-color: white;
}

.input-icono input {
    width: 100%;
    font-size: 1.2em;
    border: none;
    clear: left;
}

.input-icono [type="image"] {
    border: none;
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.tienda {
    align-items: center;
    margin-left: 30px;
    width: 30px;
    height: 30px;
}

.logotipo {
    background: url("https://i.imgur.com/k2ledJv.jpg") no-repeat top center, linear-gradient(to bottom, black 0%, black 401px, white 401px, white 100%);
    position: relative;
    text-align: center;
}

.logotipo .logotipo-logo {
    padding-top: 1px;
}

.logotipo .logotipo-logo__title {
    margin: 0;
    font-size: 30px;
    color: orange;
}

.logo {
    display: block;
    margin: auto;
    height: 400px;
    margin-top: 20px;
}

.productos {
    margin-top: 50px;
    width: 1557px;
    height: 530px;
    margin-left: auto;
    margin-right: auto;
}

.proyectos {
    width: 1557px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.cursos {
    width: 1557px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}



footer {
    width: auto;
    height: 900px;
    background-color: #3773c9;
    margin-top: 300px;
    color: white;
}

.titulo {
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
}

.subtitulo {
    text-align: center;
    font-size: 20px;
}

.elementos {
    width: auto;
    height: 400px;
    display: flex;
}

.elementos>div {
    flex: 1;
   
}

.elementos>div>div{
    display: flex;
    border: 1px solid #707070;
}




.elemento1 {
    height: 100%;
    width: 400px;
    display: flex;
}

.elemento2 {
    height: 100%;
    width: 400px;
    margin: auto;
}

.elemento3 {
    height: 100%;
    width: 400px;
    float: right;
}

.apartado{
    height: 60px;
    width: 400px;       
    background-color: #292929;
    align-self: flex-end;
    opacity: 0.8;
    position: absolute;
    
}

.apartado p{
    opacity: 1;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    text-transform: capitalize;
    color: white;
}

.imagen{
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.comunidad {
    width: 1557px;
    height: 1016px;
    /* background-color: orange; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.comunidad hr{
    margin-bottom: 100px;
}

.comunidad img{
    width: 250px;
    height: 320px;
    border-radius: 50%;
}

.comunidad div{
    clear: both;
    display: flex;
}

.comunidad p{
    font-size: 30px;
    margin: auto;
    margin-left: 20px;
    margin-left: 10px;
    
}

footer img{
    width: 300px;
}

footer p {
    font-size: 30px;
}

.footer-primero{
    padding-top: 30px;
    padding-left: 30px;
    display: flex;
}



.subdividir1{
    flex: 1;
}

.subdividir2{
    flex: 2;
    
}







